html {
    height: 100;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: "arial";
    
}

a { text-decoration: none;
    
}

a:hover{
    text-decoration: underline;
}

header {
    width: 100%;
    height: 48px;
    background-color: rgb(255, 255, 255);
    color: black;
}

.nav-bar{
    display: flex;
    align-items: center;
    padding: 0;
}
nav {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    color: black;
    font-size: 13px;
}

.nav-options {
    margin: 10px;
    margin-top: 5px;
    color: rgba(0,0,0,.87);
}
.profile-photo {
    border-radius: 25px;
    height: 32px;
    width: 32px;
}

.profile-photo:hover {
    border-radius: 25px;
    box-shadow: 0px 0px 2px 4px #dfdddd;
    
}

.google-apps{
    margin-left: 5px;
    width: 25px;
    height: 25px;
    opacity: 50%;

}

.google-apps:hover {
    border-radius: 25px;
    background-color: #dfdddd;
    box-shadow: 0px 0px 2px 8px #dfdddd;
    
   
}

main {
    margin-top: 90px;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
}

#logo{
    width: 272px;
    height: 92px;
    margin-top: 32px;
    margin-bottom: 2px;
}

.search-container{
    display: flex;
    justify-content: center;
    width: auto;
    padding: 20px;
}

.search-content{
    width: 42%;
    height: 43px;
    padding-bottom: 1px;
    border-radius: 30px;
    border: 1px solid #dfe1e5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.search-content:hover {
    box-shadow: 1px 2px 3px 1px #dfe1e5;
}
.search-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    opacity: 50%;
    
}
#input-search {
    width: 85%;
    height: 30px;
    font-size: 16px;
    outline: none;
    border: none;
}

.microphone-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px; 
    margin-right: 10px;
}
.button{
    margin: 5px;
    
}
.buttons{
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

#button-search {
    background-color:  rgb(248, 249, 250);
    border: 1px solid rgb(248, 249, 250);
    color: #3c4043;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
 }

 #button-search:hover {
     border: 1px solid #dfe1e5;
     box-shadow: 1px 0px 2px 0px #dfe1e5;
 }


#button-lucky {
    background-color: rgb(248, 249, 250);
    border: 1px solid rgb(248, 249, 250);
    color: #3c4043;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

#button-lucky:hover {
    border: 1px solid #dfe1e5;
    box-shadow: 1px 0px 2px 0px #dfe1e5;
}


.language-info{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: auto;
    padding-top: 15px;
    flex-direction: row;
    align-items: center;
    color: #70757a;
}
.language-info>div>a{
    color: #4f5255;
}

/* footer */

footer {
    font-size: 14px;
    color: #70757a;
    position: absolute;
    bottom: 0;
    width: 100%;   
}

.country-info {
    display: block;
    background-color: rgb(242, 242, 242);
    color: #70757a;
    

}
.country-info>div{
    padding: 1px 30px;
    border-bottom: 1px solid #dfe1e5;
    font-size: 15px;
}


.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f2f2f2;
}
.footer-link {
    margin: 15px;
    color: #70757a;

}

/* 
mobile */
@media (max-width:600px) {
    nav{
        display: flex;
        margin: 5px;
    }
    .nav-bar{
        margin: 0;
        padding: 0;
    }
    #nav-option{
        margin-right:140px;
    }
    
    .search-content{
        width: 100%;
        
    }
    #logo{
        width: 50%;
        height: 50%;
    }
    
    .button{
        text-align: center;
        margin: 5px;
    }
    .language-info{
        padding: 0;
        margin: 5px;
    }
    .country-info>div{
        padding: 1px 5px;
    }
    p{
        margin: 8px;
    }
    .footer-links{
       text-align: center;
       font-size: 12px;
       justify-content: center;
    }
    .footer-links>span{
        margin-top: 10px;
        padding: 0px;
        
    }
    .footer-link{
       margin: 10px;
    }
    #hide{
        display: block;
    }
 }